body {
  font-size: 16px;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 1px;
  font-size: 16px;
}

select {
  font-size: 16px;
}

input{
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Use media queries to adjust the font size and input size for mobile devices */
@media only screen and (min-width: 768px) {
    /* Decrease the font size for small screens */
    body {
      font-size: 16px;
    }

    label {
      display: block;
      margin-top: 15px;
      margin-bottom: 1px;
      font-size: 16px;
    }
  
    /* Decrease the size of the input element for small screens */
    input {
      font-size: 16px;
      /* width: 80%; */
      /* height: 4.5em; */
      /* max-width: 300px; */
      height: 2em;
    }
  }